---
import { Image } from 'astro:assets';

import imgBarong from '~/assets/images/barong.svg';
---

<div
  class="relative flex w-full justify-center overflow-clip bg-black py-[78px]"
  style={{
    backgroundImage:
      'linear-gradient(264.72deg, rgb(22, 22, 22) 35.479%, rgb(3, 3, 3) 73.631%)',
  }}
>
  <div
    class="pointer-events-none absolute top-[-72px] left-0 h-[454px] w-[790px] overflow-hidden opacity-30 mix-blend-luminosity sm:-right-1/2 sm:left-auto md:right-[-160px] lg:top-[-100px] lg:right-[-130px]"
  >
    <Image
      alt=""
      class="h-full w-full object-cover mix-blend-color-dodge"
      src={imgBarong}
      loading="lazy"
    />
  </div>

  <div
    class="relative z-10 flex w-full max-w-[1170px] flex-col items-start gap-[50px] px-6"
  >
    <p
      class="text-[32px] leading-[1.56] font-bold tracking-[1px] text-white uppercase md:w-[635px] md:text-[24px] md:leading-[normal]"
    >
      unlock the full potential of your business through DIGITAL
    </p>
    <a
      href="/contact-us"
      class="relative flex shrink-0 content-stretch items-start border border-solid border-white px-[30px] py-[14px] text-white transition-all duration-300 ease-in-out hover:bg-white hover:text-black"
    >
      <div
        class="relative flex shrink-0 flex-col justify-center text-center text-[12px] leading-none font-normal tracking-[1px] whitespace-nowrap uppercase"
      >
        <p class="leading-[17.143px] md:leading-[17px]">GET IN TOUCH</p>
      </div>
    </a>
  </div>
</div>
