---
import { cn } from '~/lib/utils';

import { Logo } from './logo.tsx';
import { Navigation } from './navigation.tsx';

const pathname = Astro.url.pathname;
const currentPath =
  pathname === '/' ? '' : pathname.replace(/\/$/, '').slice(1);
---

<header class="sticky top-0 z-50 w-full bg-white">
  <div
    class="mx-auto flex h-[86px] w-full max-w-[1170px] items-center justify-between px-4 xl:px-0"
  >
    <div class="relative h-[34px] w-[127px] shrink-0">
      <a
        href="/"
        class="relative z-30 block size-full"
        aria-label="SaranaTech Logo"
      >
        <Logo variant="dark" />
      </a>
    </div>

    <!-- Desktop Navigation -->
    <nav
      class="hidden content-stretch items-center gap-[35px] py-[12px] text-[12px] leading-none font-semibold whitespace-nowrap uppercase md:flex"
    >
      <div
        class={cn(
          'relative flex shrink-0 flex-col justify-center',
          currentPath === '' ? 'text-[#727272]' : '',
        )}
      >
        <a
          href="/"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >HOME</a
        >
      </div>
      <div
        class={cn(
          'relative flex shrink-0 cursor-pointer flex-col justify-center',
          currentPath === 'services' ? 'text-[#727272]' : '',
        )}
      >
        <a
          href="/services"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >services</a
        >
      </div>
      <div
        class={cn(
          'relative flex shrink-0 cursor-pointer flex-col justify-center',
          currentPath === 'case-study' ? 'text-[#727272]' : '',
        )}
      >
        <a
          href="/case-study"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >Case study</a
        >
      </div>
      <div
        class={cn(
          'relative flex shrink-0 cursor-pointer flex-col justify-center',
          currentPath === '1000dev' ? 'text-[#727272]' : '',
        )}
      >
        <a
          href="/1000dev"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >#1000Dev</a
        >
      </div>
      <div
        class={cn(
          'relative flex shrink-0 cursor-pointer flex-col justify-center',
          currentPath === 'contact-us' ? 'text-[#727272]' : '',
        )}
      >
        <a
          href="/contact-us"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >contact us</a
        >
      </div>
    </nav>

    <!-- Mobile Navigation (Hamburger) -->
    <Navigation client:load />
  </div>
</header>
