---
import { cn } from '~/lib/utils';
import { Logo } from './logo.tsx';
import { Navigation } from './navigation.tsx';

const pathname = Astro.url.pathname;
const currentPath =
  pathname === '/' ? '' : pathname.replace(/\/$/, '').slice(1);
---

<header class="sticky top-0 z-50 w-full bg-slate-50">
  <div
    class="h-[86px] flex items-center justify-between w-full max-w-[1170px] mx-auto px-4 xl:px-0"
  >
    <div class="relative h-[34px] w-[127px] shrink-0">
      <a
        href="/"
        class="relative z-30 block size-full"
        aria-label="SaranaTech Logo"
      >
        <Logo variant="dark" />
      </a>
    </div>

    <!-- Desktop Navigation -->
    <nav
      class="hidden md:flex content-stretch font-semibold gap-[35px] items-center leading-none py-[12px] text-[12px] uppercase whitespace-nowrap"
    >
      <div
        class={cn(
          "flex flex-col justify-center relative shrink-0",
          currentPath === "" ? "text-[#727272]" : "text-[#101010]",
        )}
      >
        <a
          href="/"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >HOME</a
        >
      </div>
      <div
        class={cn(
          "flex flex-col justify-center relative shrink-0 cursor-pointer",
          currentPath === "#services" ? "text-[#727272]" : "text-[#101010]",
        )}
      >
        <a
          href="/#services"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >services</a
        >
      </div>
      <div
        class={cn(
          "flex flex-col justify-center relative shrink-0 cursor-pointer",
          currentPath === "case-study" ? "text-[#727272]" : "text-[#101010]",
        )}
      >
        <a
          href="/case-study"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >Case study</a
        >
      </div>
      <div
        class={cn(
          "flex flex-col justify-center relative shrink-0 cursor-pointer",
          currentPath === "1000dev" ? "text-[#727272]" : "text-[#101010]",
        )}
      >
        <a
          href="/1000dev"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >#1000Dev</a
        >
      </div>
      <div
        class={cn(
          "flex flex-col justify-center relative shrink-0 cursor-pointer",
          currentPath === "contact-us" ? "text-[#727272]" : "text-[#101010]",
        )}
      >
        <a
          href="/contact-us"
          class="leading-[20px] transition-colors duration-300 ease-in-out hover:text-[#727272]"
          >contact us</a
        >
      </div>
    </nav>

    <!-- Mobile Navigation (Hamburger) -->
    <Navigation client:load />
  </div>
</header>
