---
interface Props {
  class?: string;
}
---

<svg
  viewBox="0 0 1496 472"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class={Astro.props.class}
  aria-hidden="true"
>
  <path
    d="M933.503 52.6274C951.499 41.562 974.535 43.1383 990.857 56.5513L1494.6 470.515H1.38574L360.702 172.52C371.626 163.461 387.452 163.463 398.373 172.526L515.271 269.535C531.925 283.355 555.535 285.028 573.971 273.692L933.503 52.6274Z"
    fill="url(#paint0_linear_1033_3287)"
    fill-opacity="0.2"
    stroke="url(#paint1_linear_1033_3287)"
  />
  <foreignObject x="811.578" y="-6.57422" width="238.747" height="475">
    <div
      style="backdrop-filter:blur(5px);clip-path:url(#bgblur_0_1033_3287_clip_path);height:100%;width:100%"
    ></div>
  </foreignObject>
  <path
    data-figma-bg-blur-radius="10"
    d="M826.184 4.5166C824.558 3.15221 822.078 4.30836 822.078 6.43164V468.016C822.078 469.396 823.198 470.515 824.578 470.516H1037.33C1038.71 470.516 1039.83 469.396 1039.83 468.016V411.517L1039.81 411.261C1039.68 410 1038.62 409.017 1037.33 409.017H1018.89C1016.96 409.016 1015.39 407.449 1015.39 405.517V364.358C1015.39 362.978 1014.27 361.858 1012.89 361.858H1000.71C998.779 361.858 997.212 360.291 997.212 358.358V328.563C997.212 327.183 996.093 326.063 994.712 326.063H987.644C985.711 326.063 984.145 324.496 984.144 322.563V297.313C984.144 295.933 983.025 294.814 981.644 294.813H974.576C972.643 294.813 971.076 293.246 971.076 291.313V261.519C971.076 260.138 969.957 259.019 968.576 259.019H961.508C959.575 259.018 958.008 257.451 958.008 255.519V233.679C958.008 232.298 956.888 231.179 955.508 231.179H943.894C941.962 231.179 940.395 229.611 940.394 227.679V184.247C940.394 182.866 939.275 181.747 937.894 181.747H935.372C933.439 181.747 931.872 180.18 931.872 178.247V118.907C931.872 117.527 930.753 116.407 929.372 116.407H902.986C901.053 116.407 899.486 114.84 899.486 112.907V76.8623C899.486 75.4817 898.367 74.3623 896.986 74.3623H884.805C882.872 74.3622 881.305 72.7952 881.305 70.8623V43.9082C881.304 42.5276 880.185 41.4082 878.805 41.4082H858.669C856.736 41.4082 855.169 39.8412 855.169 37.9082V17.7725C855.169 16.3918 854.05 15.2725 852.669 15.2725H840.283C839.461 15.2724 838.664 14.9827 838.034 14.4541L826.184 4.5166Z"
    fill="url(#paint2_linear_1033_3287)"
    fill-opacity="0.2"
    stroke="url(#paint3_linear_1033_3287)"
  />
  <foreignObject x="502.492" y="-6.57422" width="238.747" height="475">
    <div
      style="backdrop-filter:blur(5px);clip-path:url(#bgblur_1_1033_3287_clip_path);height:100%;width:100%"
    ></div>
  </foreignObject>
  <path
    data-figma-bg-blur-radius="10"
    d="M726.633 4.5166C728.26 3.15221 730.739 4.30836 730.739 6.43164V468.016C730.739 469.396 729.62 470.515 728.239 470.516H515.492C514.111 470.516 512.992 469.396 512.992 468.016V411.517L513.005 411.261C513.133 410 514.198 409.017 515.492 409.017H533.924C535.857 409.016 537.424 407.449 537.424 405.517V364.358C537.424 362.978 538.543 361.858 539.924 361.858H552.105C554.038 361.858 555.605 360.291 555.605 358.358V328.563C555.605 327.183 556.725 326.063 558.105 326.063H565.173C567.106 326.063 568.673 324.496 568.673 322.563V297.313C568.673 295.933 569.792 294.814 571.173 294.813H578.241C580.174 294.813 581.741 293.246 581.741 291.313V261.519C581.741 260.138 582.86 259.019 584.241 259.019H591.309C593.242 259.018 594.809 257.451 594.809 255.519V233.679C594.809 232.298 595.929 231.179 597.309 231.179H608.923C610.855 231.179 612.423 229.611 612.423 227.679V184.247C612.423 182.866 613.542 181.747 614.923 181.747H617.445C619.378 181.747 620.945 180.18 620.945 178.247V118.907C620.945 117.527 622.065 116.407 623.445 116.407H649.831C651.764 116.407 653.331 114.84 653.331 112.907V76.8623C653.331 75.4817 654.45 74.3623 655.831 74.3623H668.013C669.945 74.3622 671.513 72.7952 671.513 70.8623V43.9082C671.513 42.5276 672.632 41.4082 674.013 41.4082H694.148C696.081 41.4082 697.648 39.8412 697.648 37.9082V17.7725C697.648 16.3918 698.768 15.2725 700.148 15.2725H712.534C713.357 15.2724 714.153 14.9827 714.783 14.4541L726.633 4.5166Z"
    fill="url(#paint4_linear_1033_3287)"
    fill-opacity="0.2"
    stroke="url(#paint5_linear_1033_3287)"
  />
  <defs>
    <clipPath
      id="bgblur_0_1033_3287_clip_path"
      transform="translate(-811.578 6.57422)"
    >
      <path
        d="M826.184 4.5166C824.558 3.15221 822.078 4.30836 822.078 6.43164V468.016C822.078 469.396 823.198 470.515 824.578 470.516H1037.33C1038.71 470.516 1039.83 469.396 1039.83 468.016V411.517L1039.81 411.261C1039.68 410 1038.62 409.017 1037.33 409.017H1018.89C1016.96 409.016 1015.39 407.449 1015.39 405.517V364.358C1015.39 362.978 1014.27 361.858 1012.89 361.858H1000.71C998.779 361.858 997.212 360.291 997.212 358.358V328.563C997.212 327.183 996.093 326.063 994.712 326.063H987.644C985.711 326.063 984.145 324.496 984.144 322.563V297.313C984.144 295.933 983.025 294.814 981.644 294.813H974.576C972.643 294.813 971.076 293.246 971.076 291.313V261.519C971.076 260.138 969.957 259.019 968.576 259.019H961.508C959.575 259.018 958.008 257.451 958.008 255.519V233.679C958.008 232.298 956.888 231.179 955.508 231.179H943.894C941.962 231.179 940.395 229.611 940.394 227.679V184.247C940.394 182.866 939.275 181.747 937.894 181.747H935.372C933.439 181.747 931.872 180.18 931.872 178.247V118.907C931.872 117.527 930.753 116.407 929.372 116.407H902.986C901.053 116.407 899.486 114.84 899.486 112.907V76.8623C899.486 75.4817 898.367 74.3623 896.986 74.3623H884.805C882.872 74.3622 881.305 72.7952 881.305 70.8623V43.9082C881.304 42.5276 880.185 41.4082 878.805 41.4082H858.669C856.736 41.4082 855.169 39.8412 855.169 37.9082V17.7725C855.169 16.3918 854.05 15.2725 852.669 15.2725H840.283C839.461 15.2724 838.664 14.9827 838.034 14.4541L826.184 4.5166Z"
      />
    </clipPath>
    <clipPath
      id="bgblur_1_1033_3287_clip_path"
      transform="translate(-502.492 6.57422)"
    >
      <path
        d="M726.633 4.5166C728.26 3.15221 730.739 4.30836 730.739 6.43164V468.016C730.739 469.396 729.62 470.515 728.239 470.516H515.492C514.111 470.516 512.992 469.396 512.992 468.016V411.517L513.005 411.261C513.133 410 514.198 409.017 515.492 409.017H533.924C535.857 409.016 537.424 407.449 537.424 405.517V364.358C537.424 362.978 538.543 361.858 539.924 361.858H552.105C554.038 361.858 555.605 360.291 555.605 358.358V328.563C555.605 327.183 556.725 326.063 558.105 326.063H565.173C567.106 326.063 568.673 324.496 568.673 322.563V297.313C568.673 295.933 569.792 294.814 571.173 294.813H578.241C580.174 294.813 581.741 293.246 581.741 291.313V261.519C581.741 260.138 582.86 259.019 584.241 259.019H591.309C593.242 259.018 594.809 257.451 594.809 255.519V233.679C594.809 232.298 595.929 231.179 597.309 231.179H608.923C610.855 231.179 612.423 229.611 612.423 227.679V184.247C612.423 182.866 613.542 181.747 614.923 181.747H617.445C619.378 181.747 620.945 180.18 620.945 178.247V118.907C620.945 117.527 622.065 116.407 623.445 116.407H649.831C651.764 116.407 653.331 114.84 653.331 112.907V76.8623C653.331 75.4817 654.45 74.3623 655.831 74.3623H668.013C669.945 74.3622 671.513 72.7952 671.513 70.8623V43.9082C671.513 42.5276 672.632 41.4082 674.013 41.4082H694.148C696.081 41.4082 697.648 39.8412 697.648 37.9082V17.7725C697.648 16.3918 698.768 15.2725 700.148 15.2725H712.534C713.357 15.2724 714.153 14.9827 714.783 14.4541L726.633 4.5166Z"
      />
    </clipPath>
    <linearGradient
      id="paint0_linear_1033_3287"
      x1="748"
      y1="33.522"
      x2="747.716"
      y2="449.993"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.0247961" stop-color="white" />
      <stop offset="1" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_1033_3287"
      x1="748"
      y1="33.522"
      x2="748"
      y2="471.015"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" />
      <stop offset="1" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint2_linear_1033_3287"
      x1="930.834"
      y1="137.498"
      x2="931.52"
      y2="471.014"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#12A60F" />
      <stop offset="0.973958" stop-color="#0E4D0D" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint3_linear_1033_3287"
      x1="930.952"
      y1="0"
      x2="930.952"
      y2="471.016"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#6FFF6C" />
      <stop offset="1" stop-color="#333333" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint4_linear_1033_3287"
      x1="621.983"
      y1="137.498"
      x2="621.298"
      y2="471.014"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#12A60F" />
      <stop offset="0.973958" stop-color="#0E4D0D" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint5_linear_1033_3287"
      x1="621.865"
      y1="0"
      x2="621.865"
      y2="471.016"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#6FFF6C" />
      <stop offset="1" stop-color="#333333" stop-opacity="0" />
    </linearGradient>
  </defs>
</svg>
