---
import imgGroup207 from '~/assets/images/img-group207.png';
---

<div
  class="h-[275px] overflow-clip relative shrink-0 w-full flex items-center bg-black"
  style={{ backgroundImage: "linear-gradient(238.2deg, rgb(22, 22, 22) 35.479%, rgb(3, 3, 3) 73.631%)" }}
>
  <div
    class="absolute h-[396px] mix-blend-luminosity opacity-30 right-0 top-1/2 -translate-y-1/2 w-[634px] overflow-hidden pointer-events-none hidden md:block"
  >
    <img
      alt=""
      class="absolute block max-w-none h-full object-cover right-0 opacity-50"
      src={imgGroup207.src}
    >
  </div>
  <div
    class="content-stretch flex flex-col gap-[30px] md:gap-[50px] items-start px-4 md:px-[135px] relative z-10 w-full max-w-[1440px] mx-auto"
  >
    <p
      class="font-bold leading-[normal] text-[20px] md:text-[24px] text-white tracking-[1px] uppercase w-full md:w-[635px] whitespace-pre-wrap"
    >
      unlock the full potential of your business through DIGITAL
    </p>
    <button
      type="button"
      class="border border-solid border-white content-stretch flex items-start px-[30px] py-[14px] hover:bg-white hover:text-black transition-colors"
    >
      <p
        class="font-normal text-[12px] text-center tracking-[1px] uppercase whitespace-nowrap"
      >
        GET IN TOUCH
      </p>
    </button>
  </div>
</div>
