---
import HeroArt from '~/components/hero-art.astro';
---

<div
  class="h-[600px] overflow-clip relative shrink-0 w-full flex justify-center bg-black"
>
  <div
    class="absolute inset-0"
    style={{ backgroundImage: "linear-gradient(248.6deg, rgb(37, 37, 37) 30.258%, rgb(0, 0, 0) 53.786%)" }}
  />
  <div
    class="absolute bottom-0 h-[155px] w-full lg:right-0 lg:h-[285px] lg:w-[640px] xl:h-[472px] xl:w-[1055px]"
  >
    <HeroArt
      class="absolute block h-full w-[125%] left-[-10%] lg:w-none lg:left-[-40px]"
    />
  </div>

  <div class="relative w-full max-w-[1440px] h-full flex items-center">
    <div
      class="absolute content-stretch flex flex-col gap-[30px] items-start left-4 lg:left-[135px] z-10"
    >
      <div
        class="flex flex-col font-bold justify-center leading-none relative shrink-0 text-[#626262] text-[12px] tracking-[4px] uppercase"
      >
        <p class="leading-[17px]">Art. Passion. Code.</p>
      </div>
      <div
        class="flex flex-col font-bold justify-center leading-none relative shrink-0 text-[32px] md:text-[40px] text-white tracking-[2px] uppercase"
      >
        <p class="leading-[40px] md:leading-[68px]">Digital Elevator Partner</p>
      </div>
      <p
        class="font-normal min-h-[50px] leading-[25px] relative shrink-0 text-[14px] text-white w-full md:w-[369px] whitespace-pre-wrap"
      >
        {`We help realize the best potential of your business with coding & art from the land of Bali`}
      </p>
      <a
        href="/contact"
        class="border border-solid border-white content-stretch flex items-start px-[30px] py-[14px] relative shrink-0 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out"
      >
        <div
          class="flex flex-col font-normal justify-center leading-none relative shrink-0 text-[12px] text-center tracking-[1px] uppercase whitespace-nowrap"
        >
          <p class="leading-[17px]">CONTACT US</p>
        </div>
      </a>
    </div>
  </div>
</div>
