---
import {
  Mobile,
  MonitorMobbile,
  ProgrammingArrows,
  RulerPen,
  Shop,
  StatusUp,
} from 'iconsax-react';
---

<div
  class="bg-[#fbfbfb] content-stretch flex flex-col items-center overflow-clip px-4 md:px-[135px] py-[100px] relative shrink-0 w-full"
>
  <div class="relative shrink-0 w-full max-w-[1170px]">
    <div
      class="content-stretch flex flex-col gap-[20px] items-center mb-[50px] md:mb-[70px]"
    >
      <div
        class="flex flex-col font-bold justify-center leading-none relative shrink-0 text-[#101010] text-[26px] text-center tracking-[1px] uppercase"
      >
        <p class="leading-[28.6px] ">services what we provide</p>
      </div>
      <p
        class="font-normal leading-[28px] text-[#989898] text-[15px] text-center max-w-[831px] "
      >
        With our deep expertise in the latest technologies and industry best
        practices, we empower businesses to stay ahead in the digital landscape.
      </p>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-[45px] gap-y-[40px] relative w-full"
    >
      <div class="relative flex flex-col">
        <div class="relative mb-4 text-[#101010]">
          <RulerPen size={35} variant="Linear" />
        </div>
        <p
          class="font-normal text-[#101010] text-[14px] tracking-[2px] uppercase mb-4"
        >
          Web designing
        </p>
        <div class="bg-[#333] h-[2px] w-[38px] mb-6" />
        <p
          class="font-normal leading-[28px] text-[#777] text-[14px] tracking-[0.5px] "
        >
          Create visually captivating and user-friendly websites that
          effectively communicate brand messages, and deliver a positive UX.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4 text-[#101010]">
          <MonitorMobbile size={35} variant="Linear" />
        </div>
        <p
          class="font-normal text-[#101010] text-[14px] tracking-[2px] uppercase mb-4"
        >
          Web development
        </p>
        <div class="bg-[#333] h-[2px] w-[38px] mb-6" />
        <p
          class="font-normal leading-[28px] text-[#777] text-[14px] tracking-[0.5px] "
        >
          Web development brings ideas to life, crafting functional and
          interactive websites through coding and programming.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4 text-[#101010]">
          <Mobile size={35} variant="Linear" />
        </div>
        <p
          class="font-normal text-[#101010] text-[14px] tracking-[2px] uppercase mb-4"
        >
          MOBILE APPS DEVELOPMENT
        </p>
        <div class="bg-[#333] h-[2px] w-[38px] mb-6" />
        <p
          class="font-normal leading-[28px] text-[#777] text-[14px] tracking-[0.5px] "
        >
          Innovative, user-centric solutions for iOS and Android. Seamlessly
          blend functionality and aesthetics to captivate users on the go.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4 text-[#101010]">
          <StatusUp size={35} variant="Linear" />
        </div>
        <p
          class="font-normal text-[#101010] text-[14px] tracking-[2px] uppercase mb-4"
        >
          SYSTEM DEVELOPMENT
        </p>
        <div class="bg-[#333] h-[2px] w-[38px] mb-6" />
        <p
          class="font-normal leading-[28px] text-[#777] text-[14px] tracking-[0.5px] "
        >
          Efficient creation of customized software systems to optimize
          processes, enhance productivity, and drive business growth.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4 text-[#101010]">
          <Shop size={35} variant="Linear" />
        </div>
        <p
          class="font-normal text-[#101010] text-[14px] tracking-[2px] uppercase mb-4"
        >
          ecommerce
        </p>
        <div class="bg-[#333] h-[2px] w-[38px] mb-6" />
        <p
          class="font-normal leading-[28px] text-[#777] text-[14px] tracking-[0.5px] "
        >
          Enabling businesses to sell products/services, manage inventory,
          process transactions, and provide a seamless shopping experience.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4 text-[#101010]">
          <ProgrammingArrows size={35} variant="Linear" />
        </div>
        <p
          class="font-normal text-[#101010] text-[14px] tracking-[2px] uppercase mb-4"
        >
          ERP / AUTOMATION
        </p>
        <div class="bg-[#333] h-[2px] w-[38px] mb-6" />
        <p
          class="font-normal leading-[28px] text-[#777] text-[14px] tracking-[0.5px] "
        >
          Streamline operations and boost productivity with ERP automation, the
          key to efficient business processes.
        </p>
      </div>
    </div>
  </div>
</div>
