---
import Hero from '~/components/home/hero.astro';
import LatestWorks from '~/components/home/latest-works.astro';
import Services from '~/components/home/services.astro';
import Testimonials from '~/components/home/testimonials.astro';
import TrustedClients from '~/components/home/trusted-clients.astro';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="SaranaTech | Digital Elevator Partner">
  <div class="flex w-full flex-col items-center">
    <Hero />
    <Services />
    <LatestWorks />
    <TrustedClients />
    <Testimonials />
  </div>
</Layout>
