---
import HeroArt from './hero-art.astro';
---

<div
  class="relative flex h-[600px] w-full shrink-0 justify-center overflow-clip bg-black"
>
  <div
    class="absolute inset-0"
    style={{
      backgroundImage:
        'linear-gradient(248.6deg, rgb(37, 37, 37) 30.258%, rgb(0, 0, 0) 53.786%)',
    }}
  >
  </div>
  <div
    class="absolute bottom-0 h-[155px] w-full lg:right-0 lg:h-[285px] lg:w-[640px] xl:h-[472px] xl:w-[1055px]"
  >
    <HeroArt
      class="lg:w-none absolute left-[-10%] block h-full w-[125%] lg:left-[-40px]"
    />
  </div>

  <div class="relative flex h-full w-full max-w-[1440px] items-center">
    <div
      class="absolute left-4 z-10 flex flex-col content-stretch items-start gap-[30px] lg:left-[135px]"
    >
      <div
        class="relative flex shrink-0 flex-col justify-center text-[12px] leading-none font-bold tracking-[4px] text-[#626262] uppercase"
      >
        <p class="leading-[17px]">Art. Passion. Code.</p>
      </div>
      <div
        class="relative flex shrink-0 flex-col justify-center text-[32px] leading-none font-bold tracking-[2px] text-white uppercase md:text-[40px]"
      >
        <p class="leading-[40px] md:leading-[68px]">Digital Elevator Partner</p>
      </div>
      <p
        class="relative min-h-[50px] w-full shrink-0 text-[14px] leading-[25px] font-normal whitespace-pre-wrap text-white md:w-[369px]"
      >
        {
          `We help realize the best potential of your business with coding & art from the land of Bali`
        }
      </p>
      <a
        href="/contact-us"
        class="relative flex shrink-0 content-stretch items-start border border-solid border-white px-[30px] py-[14px] text-white transition-all duration-300 ease-in-out hover:bg-white hover:text-black"
      >
        <div
          class="relative flex shrink-0 flex-col justify-center text-center text-[12px] leading-none font-normal tracking-[1px] whitespace-nowrap uppercase"
        >
          <p class="leading-[17px]">CONTACT US</p>
        </div>
      </a>
    </div>
  </div>
</div>
