---
import { Image } from 'astro:assets';
import imgDashboardMockup from '~/assets/images/works/dashboard-mockup.png';
import imgEcoBeachCityMap from '~/assets/images/works/eco-beach-city-map.png';
import imgMobileAppMockup from '~/assets/images/works/mobile-app-mockup.png';
import imgWebAppMockup from '~/assets/images/works/web-app-mockup.png';
---

<div
  class="content-stretch flex flex-col gap-[35px] items-center overflow-clip px-4 md:px-[50px] py-[100px] relative shrink-0 w-full max-w-[1440px]"
>
  <div class="flex flex-col items-center gap-4 mb-8">
    <p
      class="font-bold text-[#101010] text-[26px] text-center tracking-[1px] uppercase"
    >
      our latest works
    </p>
    <p
      class="font-normal leading-[28px] text-[#989898] text-[15px] text-center max-w-[831px]"
    >
      We offer a wide range of services, including web development, mobile app
      development, custom software development, and UI/UX design.
    </p>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-6 gap-x-[10px] items-start overflow-clip relative shrink-0 w-full justify-center max-w-[1138px] mx-auto"
  >
    <a
      href="#"
      class="bg-[#f3f3f3] h-auto lg:h-[230px] flex flex-col overflow-hidden relative shrink-0 w-full group cursor-pointer lg:block"
    >
      <div
        class="relative h-[230px] w-full flex items-center justify-center p-4"
      >
        <Image
          alt="Eco Beach City"
          class="max-w-full max-h-full object-contain"
          src={imgEcoBeachCityMap}
          loading="lazy"
        />
      </div>
      <div
        class="bg-[#f1f1f1] lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 h-full"
      >
        <p class="font-bold text-[#101010] text-[15px]">
          Interactive Map & Booking
        </p>
        <p class="font-normal text-[#101010] text-[10px] mt-1">
          Eco Beach City
        </p>
      </div>
    </a>
    <a
      href="#"
      class="bg-[#f3f3f3] h-auto lg:h-[230px] flex flex-col overflow-hidden relative shrink-0 w-full group cursor-pointer lg:block"
    >
      <div
        class="relative h-[230px] w-full flex items-center justify-center p-4"
      >
        <Image
          alt="Mobile App"
          class="max-w-full max-h-[120%] object-cover object-top"
          src={imgMobileAppMockup}
          loading="lazy"
        />
      </div>
      <div
        class="bg-[#f1f1f1] lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 h-full"
      >
        <p class="font-bold text-[#101010] text-[15px]">Mobile App</p>
        <p class="font-normal text-[#101010] text-[10px] mt-1">Gym</p>
      </div>
    </a>
    <a
      href="#"
      class="bg-[#f3f3f3] h-auto lg:h-[230px] flex flex-col overflow-hidden relative shrink-0 w-full group cursor-pointer lg:block"
    >
      <div class="relative h-[230px] w-full flex items-center justify-center">
        <Image
          alt="Web Application"
          class="max-w-[120%] max-h-[120%] object-cover"
          src={imgWebAppMockup}
          loading="lazy"
        />
      </div>
      <div
        class="bg-[#f1f1f1] lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 h-full"
      >
        <p class="font-bold text-[#101010] text-[15px]">Transport Booking</p>
        <p class="font-normal text-[#101010] text-[10px] mt-1">
          Balideva transport
        </p>
      </div>
    </a>
    <a
      href="#"
      class="bg-[#f3f3f3] h-auto lg:h-[230px] flex flex-col overflow-hidden relative shrink-0 w-full group cursor-pointer lg:block"
    >
      <div
        class="relative h-[230px] w-full flex items-center justify-center p-4"
      >
        <Image
          alt="Dashboard"
          class="max-w-full max-h-full object-contain"
          src={imgDashboardMockup}
          loading="lazy"
        />
      </div>
      <div
        class="bg-[#f1f1f1] lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 h-full"
      >
        <p class="font-bold text-[#101010] text-[15px]">
          Company Profile and Booking
        </p>
        <p class="font-normal text-[#101010] text-[10px] mt-1">Exotic Car</p>
      </div>
    </a>
  </div>
</div>
