---
import { Image } from 'astro:assets';

import imgDashboardMockup from '~/assets/images/works/dashboard-mockup.png';
import imgEcoBeachCityMap from '~/assets/images/works/eco-beach-city-map.png';
import imgMobileAppMockup from '~/assets/images/works/mobile-app-mockup.png';
import imgWebAppMockup from '~/assets/images/works/web-app-mockup.png';
---

<div
  class="relative flex w-full max-w-[1440px] shrink-0 flex-col content-stretch items-center gap-[35px] overflow-clip px-4 py-[100px] md:px-[50px]"
>
  <div class="mb-8 flex flex-col items-center gap-4">
    <p class="text-center text-[26px] font-bold tracking-[1px] uppercase">
      our latest works
    </p>
    <p
      class="max-w-[831px] text-center text-[15px] leading-[28px] font-normal text-[#767676]"
    >
      We offer a wide range of services, including web development, mobile app
      development, custom software development, and UI/UX design.
    </p>
  </div>
  <div
    class="relative mx-auto grid w-full max-w-[1138px] shrink-0 grid-cols-1 items-start justify-center gap-x-[10px] gap-y-6 overflow-clip sm:grid-cols-2 lg:grid-cols-4"
  >
    <a
      href="#"
      class="group relative flex h-auto w-full shrink-0 cursor-pointer flex-col overflow-hidden bg-[#f3f3f3] lg:block lg:h-[230px]"
    >
      <div
        class="relative flex h-[230px] w-full items-center justify-center p-4"
      >
        <Image
          alt="Eco Beach City"
          class="max-h-full max-w-full object-contain"
          src={imgEcoBeachCityMap}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-full flex-col items-center justify-center bg-[#f1f1f1] p-4 text-center transition-opacity duration-300 lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90"
      >
        <p class="text-[15px] font-bold">Interactive Map & Booking</p>
        <p class="mt-1 text-[10px] font-normal">Eco Beach City</p>
      </div>
    </a>
    <a
      href="#"
      class="group relative flex h-auto w-full shrink-0 cursor-pointer flex-col overflow-hidden bg-[#f3f3f3] lg:block lg:h-[230px]"
    >
      <div
        class="relative flex h-[230px] w-full items-center justify-center p-4"
      >
        <Image
          alt="Mobile App"
          class="max-h-[120%] max-w-full object-cover object-top"
          src={imgMobileAppMockup}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-full flex-col items-center justify-center bg-[#f1f1f1] p-4 text-center transition-opacity duration-300 lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90"
      >
        <p class="text-[15px] font-bold">Mobile App</p>
        <p class="mt-1 text-[10px] font-normal">Gym</p>
      </div>
    </a>
    <a
      href="#"
      class="group relative flex h-auto w-full shrink-0 cursor-pointer flex-col overflow-hidden bg-[#f3f3f3] lg:block lg:h-[230px]"
    >
      <div class="relative flex h-[230px] w-full items-center justify-center">
        <Image
          alt="Web Application"
          class="max-h-[120%] max-w-[120%] object-cover"
          src={imgWebAppMockup}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-full flex-col items-center justify-center bg-[#f1f1f1] p-4 text-center transition-opacity duration-300 lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90"
      >
        <p class="text-[15px] font-bold">Transport Booking</p>
        <p class="mt-1 text-[10px] font-normal">Balideva transport</p>
      </div>
    </a>
    <a
      href="#"
      class="group relative flex h-auto w-full shrink-0 cursor-pointer flex-col overflow-hidden bg-[#f3f3f3] lg:block lg:h-[230px]"
    >
      <div
        class="relative flex h-[230px] w-full items-center justify-center p-4"
      >
        <Image
          alt="Dashboard"
          class="max-h-full max-w-full object-contain"
          src={imgDashboardMockup}
          loading="lazy"
        />
      </div>
      <div
        class="flex h-full flex-col items-center justify-center bg-[#f1f1f1] p-4 text-center transition-opacity duration-300 lg:absolute lg:inset-0 lg:opacity-0 lg:group-hover:opacity-90"
      >
        <p class="text-[15px] font-bold">Company Profile and Booking</p>
        <p class="mt-1 text-[10px] font-normal">Exotic Car</p>
      </div>
    </a>
  </div>
</div>
