---
import {
  Mobile,
  MonitorMobbile,
  ProgrammingArrows,
  RulerPen,
  Shop,
  StatusUp,
} from 'iconsax-react';
---

<div
  class="relative flex w-full shrink-0 flex-col content-stretch items-center overflow-clip bg-[#fbfbfb] px-4 py-[100px] md:px-[135px]"
>
  <div class="relative w-full max-w-[1170px] shrink-0">
    <div
      class="mb-[50px] flex flex-col content-stretch items-center gap-[20px] md:mb-[70px]"
    >
      <div
        class="relative flex shrink-0 flex-col justify-center text-center text-[26px] leading-none font-bold tracking-[1px] uppercase"
      >
        <p class="leading-[28.6px]">services what we provide</p>
      </div>
      <p
        class="max-w-[831px] text-center text-[15px] leading-[28px] font-normal text-[#767676]"
      >
        With our deep expertise in the latest technologies and industry best
        practices, we empower businesses to stay ahead in the digital landscape.
      </p>
    </div>

    <div
      class="relative grid w-full grid-cols-1 gap-x-[45px] gap-y-[40px] md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="relative flex flex-col">
        <div class="relative mb-4">
          <RulerPen size={35} variant="Linear" />
        </div>
        <p class="mb-4 text-[14px] font-normal tracking-[2px] uppercase">
          Web designing
        </p>
        <div class="mb-6 h-[2px] w-[38px] bg-[#333]"></div>
        <p
          class="text-[14px] leading-[28px] font-normal tracking-[0.5px] text-[#777]"
        >
          Create visually captivating and user-friendly websites that
          effectively communicate brand messages, and deliver a positive UX.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4">
          <MonitorMobbile size={35} variant="Linear" />
        </div>
        <p class="mb-4 text-[14px] font-normal tracking-[2px] uppercase">
          Web development
        </p>
        <div class="mb-6 h-[2px] w-[38px] bg-[#333]"></div>
        <p
          class="text-[14px] leading-[28px] font-normal tracking-[0.5px] text-[#777]"
        >
          Web development brings ideas to life, crafting functional and
          interactive websites through coding and programming.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4"><Mobile size={35} variant="Linear" /></div>
        <p class="mb-4 text-[14px] font-normal tracking-[2px] uppercase">
          MOBILE APPS DEVELOPMENT
        </p>
        <div class="mb-6 h-[2px] w-[38px] bg-[#333]"></div>
        <p
          class="text-[14px] leading-[28px] font-normal tracking-[0.5px] text-[#777]"
        >
          Innovative, user-centric solutions for iOS and Android. Seamlessly
          blend functionality and aesthetics to captivate users on the go.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4">
          <StatusUp size={35} variant="Linear" />
        </div>
        <p class="mb-4 text-[14px] font-normal tracking-[2px] uppercase">
          SYSTEM DEVELOPMENT
        </p>
        <div class="mb-6 h-[2px] w-[38px] bg-[#333]"></div>
        <p
          class="text-[14px] leading-[28px] font-normal tracking-[0.5px] text-[#777]"
        >
          Efficient creation of customized software systems to optimize
          processes, enhance productivity, and drive business growth.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4"><Shop size={35} variant="Linear" /></div>
        <p class="mb-4 text-[14px] font-normal tracking-[2px] uppercase">
          ecommerce
        </p>
        <div class="mb-6 h-[2px] w-[38px] bg-[#333]"></div>
        <p
          class="text-[14px] leading-[28px] font-normal tracking-[0.5px] text-[#777]"
        >
          Enabling businesses to sell products/services, manage inventory,
          process transactions, and provide a seamless shopping experience.
        </p>
      </div>
      <div class="relative flex flex-col">
        <div class="relative mb-4">
          <ProgrammingArrows size={35} variant="Linear" />
        </div>
        <p class="mb-4 text-[14px] font-normal tracking-[2px] uppercase">
          ERP / AUTOMATION
        </p>
        <div class="mb-6 h-[2px] w-[38px] bg-[#333]"></div>
        <p
          class="text-[14px] leading-[28px] font-normal tracking-[0.5px] text-[#777]"
        >
          Streamline operations and boost productivity with ERP automation, the
          key to efficient business processes.
        </p>
      </div>
    </div>
  </div>
</div>
