---
import { Image } from 'astro:assets';
import { FaInstagram, FaLinkedinIn } from 'react-icons/fa6';
import imgEnrique from '~/assets/images/testimonials/enrique.png';
import imgNyoman from '~/assets/images/testimonials/nyoman.png';
---

<div
  class="bg-[#fbfbfb] content-stretch flex flex-col lg:flex-row gap-[30px] items-center lg:items-stretch lg:justify-center overflow-clip pb-[100px] px-4 md:px-[135px] relative shrink-0 w-full"
>
  <div
    class="border border-[#e5e5e5] bg-white content-stretch flex flex-col gap-[40px] items-start px-[25px] py-[40px] relative shrink-0 w-full lg:w-1/2 max-w-[831px] lg:max-w-[550px]"
  >
    <div
      class="font-normal leading-[1.6] text-[#101010] text-[16px] tracking-[0.11px]"
    >
      <p class="mb-4">
        {`“Working with SaranaTech and their team has been a pleasure. They are highly skilled and knowledgeable in development and understand our needs and objectives.`}
      </p>
      <p>
        Their attention to detail and meticulous approach to coding ensures that
        every web application they create is well-structured, loyal to our UI
        designs, and optimized for optimal performance.”
      </p>
    </div>
    <div class="flex items-center gap-[20px] w-full">
      <div class="relative rounded-[10px] shrink-0 size-[50px] overflow-hidden">
        <Image
          alt="Enrique Medina"
          class="absolute inset-0 max-w-none object-cover size-full"
          src={imgEnrique}
          loading="lazy"
        />
      </div>
      <div class="flex flex-col gap-[5px] flex-1">
        <p class="font-bold text-[#101010] text-[17px] tracking-[0.23px]">
          Enrique Medina
        </p>
        <p class="font-normal text-[#989898] text-[15px] tracking-[0.15px]">
          Project Manager Webfeeling
        </p>
      </div>
      <div class="text-[#101010]"><FaLinkedinIn size={24} /></div>
    </div>
  </div>
  <div
    class="border border-[#e5e5e5] bg-white content-stretch flex flex-col gap-[40px] items-start px-[25px] py-[40px] relative shrink-0 w-full lg:w-1/2 max-w-[831px] lg:max-w-[550px]"
  >
    <div
      class="font-normal leading-[1.6] text-[#101010] text-[16px] tracking-[0.11px]"
    >
      <p class="mb-4">
        {`“I am incredibly impressed with the website development service provided by SaranaTech. They exceeded my expectations in every aspect of the project.`}
      </p>
      <p>
        From the initial consultation to the final delivery, their team
        displayed exceptional professionalism, technical expertise, and a deep
        understanding of our business needs.”
      </p>
    </div>
    <div class="flex items-center gap-[20px] w-full">
      <div class="relative rounded-[10px] shrink-0 size-[50px] overflow-hidden">
        <Image
          alt="I Nyoman Sudiarta"
          class="absolute h-full object-cover size-full"
          src={imgNyoman}
          loading="lazy"
        />
      </div>
      <div class="flex flex-col gap-[5px] flex-1">
        <p class="font-bold text-[#101010] text-[17px] tracking-[0.23px]">
          I Nyoman Sudiarta
        </p>
        <p class="font-normal text-[#989898] text-[15px] tracking-[0.15px]">
          Chairman of PAWIBA
        </p>
      </div>
      <div class="text-[#101010]"><FaInstagram size={24} /></div>
    </div>
  </div>
</div>
