---
import { Image } from 'astro:assets';
import { FaInstagram, FaLinkedinIn } from 'react-icons/fa6';

import imgEnrique from '~/assets/images/testimonials/enrique.png';
import imgNyoman from '~/assets/images/testimonials/nyoman.png';
---

<div
  class="relative flex w-full shrink-0 flex-col content-stretch items-center gap-[30px] overflow-clip bg-[#fbfbfb] px-4 pb-[100px] md:px-[135px] lg:flex-row lg:items-stretch lg:justify-center"
>
  <div
    class="relative flex w-full max-w-[831px] shrink-0 flex-col content-stretch items-start gap-[40px] border border-[#e5e5e5] bg-white px-[25px] py-[40px] lg:w-1/2 lg:max-w-[550px]"
  >
    <div class="text-[16px] leading-[1.6] font-normal tracking-[0.11px]">
      <p class="mb-4">
        {
          `“Working with SaranaTech and their team has been a pleasure. They are highly skilled and knowledgeable in development and understand our needs and objectives.`
        }
      </p>
      <p>
        Their attention to detail and meticulous approach to coding ensures that
        every web application they create is well-structured, loyal to our UI
        designs, and optimized for optimal performance.”
      </p>
    </div>
    <div class="flex w-full items-center gap-[20px]">
      <div class="relative size-[50px] shrink-0 overflow-hidden rounded-[10px]">
        <Image
          alt="Enrique Medina"
          class="absolute inset-0 size-full max-w-none object-cover"
          src={imgEnrique}
          loading="lazy"
        />
      </div>
      <div class="flex flex-1 flex-col gap-[5px]">
        <p class="text-[17px] font-bold tracking-[0.23px]">Enrique Medina</p>
        <p class="text-[15px] font-normal tracking-[0.15px] text-[#767676]">
          Project Manager Webfeeling
        </p>
      </div>
      <div><FaLinkedinIn size={24} /></div>
    </div>
  </div>
  <div
    class="relative flex w-full max-w-[831px] shrink-0 flex-col content-stretch items-start gap-[40px] border border-[#e5e5e5] bg-white px-[25px] py-[40px] lg:w-1/2 lg:max-w-[550px]"
  >
    <div class="text-[16px] leading-[1.6] font-normal tracking-[0.11px]">
      <p class="mb-4">
        {
          `“I am incredibly impressed with the website development service provided by SaranaTech. They exceeded my expectations in every aspect of the project.`
        }
      </p>
      <p>
        From the initial consultation to the final delivery, their team
        displayed exceptional professionalism, technical expertise, and a deep
        understanding of our business needs.”
      </p>
    </div>
    <div class="flex w-full items-center gap-[20px]">
      <div class="relative size-[50px] shrink-0 overflow-hidden rounded-[10px]">
        <Image
          alt="I Nyoman Sudiarta"
          class="absolute size-full h-full object-cover"
          src={imgNyoman}
          loading="lazy"
        />
      </div>
      <div class="flex flex-1 flex-col gap-[5px]">
        <p class="text-[17px] font-bold tracking-[0.23px]">I Nyoman Sudiarta</p>
        <p class="text-[15px] font-normal tracking-[0.15px] text-[#767676]">
          Chairman of PAWIBA
        </p>
      </div>
      <div><FaInstagram size={24} /></div>
    </div>
  </div>
</div>
