---
import imgBarong from '~/assets/images/barong.svg';
---

<div
  class="min-h-[500px] md:h-[275px] md:min-h-0 overflow-clip relative shrink-0 w-full flex items-center justify-center md:justify-start bg-black"
  style={{ backgroundImage: "linear-gradient(264.72deg, rgb(22, 22, 22) 35.479%, rgb(3, 3, 3) 73.631%)" }}
>
  <div
    class="absolute h-[454px] md:h-[396px] mix-blend-color-dodge md:mix-blend-luminosity opacity-30 right-1/2 translate-x-1/2 md:translate-x-0 md:right-0 top-1/2 -translate-y-1/2 w-[740px] md:w-[634px] overflow-hidden pointer-events-none"
  >
    <img
      alt=""
      class="absolute block max-w-none h-full object-cover left-1/2 -translate-x-1/2 md:-translate-x-0 md:left-auto md:right-0"
      src={imgBarong.src}
    >
  </div>
  <div
    class="content-stretch flex flex-col gap-[50px] items-center md:items-start px-[22px] md:px-[135px] relative z-10 w-full max-w-[1440px] mx-auto text-center md:text-left"
  >
    <p
      class="font-bold leading-[50px] md:leading-[normal] text-[32px] md:text-[24px] text-white tracking-[1px] uppercase w-[300px] md:w-[635px] whitespace-pre-wrap"
    >
      unlock the full potential of your business through DIGITAL
    </p>
    <a
      href="/contact"
      class="border border-solid border-white content-stretch flex items-start px-[30px] py-[14px] relative shrink-0 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out"
    >
      <div
        class="flex flex-col font-normal justify-center leading-none relative shrink-0 text-[12px] text-center tracking-[1px] uppercase whitespace-nowrap"
      >
        <p class="leading-[17.143px] md:leading-[17px]">GET IN TOUCH</p>
      </div>
    </a>
  </div>
</div>
